    <address>
      <p>&copy; Corona Studies, Autorinnen und Autoren.</p>
      <p>Alle Rechte vorbehalten. Alle Angaben ohne Gewähr.</p>
      <ul>
        <li><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <div data-icon="ei-sc-twitter" data-size="m">
          </a></div>
        </li>
        <li><a href="https://t.me/{{ site.telegram_username }}" target="_blank">
            <div data-icon="ei-sc-telegram" data-size="m">
          </a></div>
        </li>
      </ul>
    </address>
