    <address>
      <p><a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC BY-SA</a> Corona Studies</p>
      <ul>
        <li><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <div data-icon="ei-sc-twitter" data-size="m">
          </a></div>
        </li>
        <li><a href="https://t.me/{{ site.telegram_username }}" target="_blank">
            <div data-icon="ei-sc-telegram" data-size="m">
          </a></div>
        </li>
      </ul>
    </address>
