{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

  <header>
    <figure>
      <a href="/index.html" target="_self"><img src="/assets/img/coronastudies-logo.png" alt="Corona Studies"></a>
    </figure>
    <h1><a href="/index.html" target="_self">Corona Studies</a>{%- if page.group -%}<span>{{ page.group }}</span>{%- endif -%}</h1>
    <details>
      <summary><div data-icon="ei-navicon" data-size="m"></summary>
      {% include nav.html %}
      {% include address.html %}
    </details>
  </header>
