      <nav>
        <ul>
          <li><a href="/studies_de_all.html" target="_self">Alle Studien</a></li>
          <li><a href="/studies_de_virus.html" target="_self">Studien zum Virus</a></li>
          <li><a href="/studies_de_immunity.html" target="_self">Studien zur Immunität</a></li>
          <li><a href="/studies_de_therapeutics.html" target="_self">Studien zu Vorbeugung &amp; Behandlung</a></li>
          <li><a href="/studies_de_vaccines.html" target="_self">Studien zu Impfstoffen</a></li>
          <li><a href="/studies_de_interventions.html" target="_self">Studien zu nichtmedizinischen Maßnahmen</a></li>
        </ul>
        <ul>
          <li><a href="" target="_self">Deutsch</a></li>
          <li><a href="" target="_self">Englisch</a></li>
        </ul>
      </nav>
