      <nav>
        <h3>Themenfelder</h3>
        <ul>
          <li><a href="/studies_de_virus.html" target="_self">Virus</a></li>
          <li><a href="/studies_de_immunity.html" target="_self">Immunität</a></li>
          <li><a href="/studies_de_treatments.html" target="_self">Vorbeugung &amp; Behandlung</a></li>
          <li><a href="/studies_de_vaccines.html" target="_self">Impfstoffe</a></li>
          <li><a href="/studies_de_interventions.html" target="_self">Nichtmedizinische Maßnahmen</a></li>
        </ul>
        <ul>
          <li><a href="/search/search_de.html" target="_self">Suche</div></a></li>
          <!--
          <li><a href="/tags_de.html" target="_self">Schlüsselwortverzeichnis</a></li>
          -->
        </ul>
        <ul>
          <li><a href="/posts/2022/01/21/press-release.html" target="_self">Pressemitteilung vom 21. Januar 2022</a>
          </li>
        </ul>
        <ul>
          <li><a href="/index.html" target="_self">Deutsch</a></li>
          <li><a href="/index_en.html" target="_self">Englisch</a></li>
        </ul>
      </nav>