      <nav>
        <ul>
          <li><a href="/studies_en_all.html" target="_self">All studies</a></li>
          <li><a href="/studies_en_virus.html" target="_self">Studies on the virus</a></li>
          <li><a href="/studies_en_immunity.html" target="_self">Studies on immunity</a></li>
          <li><a href="/studies_en_treatments.html" target="_self">Studies on prevention and treatment</a></li>
          <li><a href="/studies_en_vaccines.html" target="_self">Studies on vaccines</a></li>
          <li><a href="/studies_en_interventions.html" target="_self">Studies on non-medical interventions</a></li>
        </ul>
        <ul>
          <li><a href="/index.html" target="_self">German</a></li>
          <li><a href="/index_en.html" target="_self">English</a></li>
        </ul>
      </nav>
