/* CC BY-SA Corona Studies
/* * info@coronastudies.org
/* * coronastudies.org
/*
/* Colors – HTML Color Names
/* * white
/* * black
/* * whitesmoke
/* * blue
*/

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  text-align: left;
  color: black;
  box-sizing: border-box;
}

em, i, em *, i * {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0 1rem;
  background-color: white;
}

body.post h2 + p {
  margin-bottom: 2.5rem;
}

button {
  color: blue;
  background-color: white;
  border: none;
  padding: 0;
}

figure {
  margin: 1.25rem 0;
}

figcaption {
  font-size: smaller;
}

img, video, audio {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

h1, h2, h1 *, h2 * {
  vertical-align: top;
  text-transform: uppercase;
  margin: 0;
}

h2.subtitle {
  margin-bottom: -2.5px;
}

h3, h4, h5, h6, h3 *, h4 *, h5 *, h6 * {
  font-style: italic;
  vertical-align: top;
  margin: 0;
}

p, ul, ol, dl, table {
  margin: 0.625rem 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

sup, sup * {
  vertical-align: text-top;
  font-size: smaller;
}

sup::before {
  content: ' ';
}

sup::after {
  content: ' ';
}

ul, ol, dl {
  padding: 0 2rem;
  margin: 2.5rem 0;
}

blockquote {
  margin: 0;
}

a,
a * {
  color: blue;
  text-decoration: none;
}

ul {
  list-style: circle;
}

details > summary {
  display: block;
  list-style: none;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

summary::after {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

mark {
  background-color: yellow;
}

::selection {
  background-color: yellow;
}

:target {
  display: block;
  position: relative;
  top: -6.25rem; 
  visibility: hidden;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: calc(100% - 2rem);
  max-width: calc(660px + 4rem);
  min-height: 6.25rem;
  transform: translateX(-50%);
  z-index: 666;
  background-color: white;
  border-bottom: 1px dotted black;
}

header figure {
  position: absolute;
  top: calc(1.25rem - (3.75rem / 100 * 18));
  left: 0.25rem;
  width: calc(3.75rem + (3.75rem / 100 * 36));
  margin: 0;
}

header h1 {
  position: absolute;
  top: 1.25rem;
  left: calc(3.75rem + (3.75rem / 100 * 36) + 0.25rem);
  margin: 0;
}

header span::before {
  content: '. ';
}

header details {
  position: absolute;
  top: 1.25rem;
  left: 0;
  width: 100%;
  height: 6.25rem;
  padding: 0 0.25rem;
  z-index: -1;
}

header details[open] {
  height: auto;
  min-height: 100vh;
  background-color: white;
}

header details > summary {
  transform: translateY(-7px);
  text-align: right;
  color: blue;
  margin-bottom: calc(3.75rem + 8px);
}

header details nav {
  border-bottom: 1px dotted black;
}

header details[open] nav ul {
  margin: 2.5rem 0;
  padding: 0 1rem;
  list-style: circle;
}

header details[open] nav li {
  line-height: 175%;
}

header ::selection {
  background-color: transparent;
}

/* Main */

main {
  margin-top: 6.25rem;
}

article {
  margin: 0 auto ;
  padding: 2.5rem 0.25rem;
  max-width: calc(660px + 4rem);
  border-bottom: 1px dotted black;
}

article:last-of-type {
  margin-bottom: 0;
}

article div:first-child {
  display: flex;
  justify-content: space-between;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;  
}

article div:first-child p {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;  
}

article div:first-child p:last-child {
  white-space: nowrap;
}

article div:first-child p {
  display: inline-block;
  margin-top: 0;
}

article p:last-child {
  margin-bottom: 0;
}

main nav {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: calc(660px + 4rem);
}

main nav ul {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 1.25rem 0;
}

main aside {
  margin: 2.5rem auto;
  padding: 0 1rem;
  max-width: calc(660px + 4rem);
}

/* Footer */

footer {
  margin: 2.5rem auto;
  padding: 0 0.25rem;  
  max-width: calc(660px + 4rem);
}

/* Address */

address {
  margin: 2.5rem 0 calc(5rem - 18px);
}

footer address {
  margin-top: 0;
}

address ul {
  list-style: none;
  padding: 0;
}

address li {
  display: inline-block;
  line-height: 175%;
}

address li:first-child {
  display: block;
}

/* Icons */

div.icon {
  display: inline-block !important;
  fill: blue;
}

aside.group {
  margin: 0 0 -2.5px;
  padding: 0;
  max-width: auto;
}

aside.group p {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

/* Responsive Webdesign */

@media screen and (max-width: calc(660px + 4rem)) {

  header span {
    display: none;
    content: none;
  }

}

@media screen and (max-width: 580px) {

  * {
    font-size: 16px;
  }

  header details > summary {
    transform: translateY(-8px);
    margin-bottom: calc(3.75rem + 2px);
  }

  div.icon--s {
    max-height: calc(25px / 100 * 88.88889);
    width: auto;
  }

  aside.group {
    margin-bottom: calc((25px / 100 * 88.88889) / -10);
  }

}


