---
layout: default_en
---

{{ content }}

{% assign posts = site.posts_en | sort: "date" | reverse %}
{% assign post = posts[0] %}

    <article id="{{ post.id }}">
      <h2>{{ post.title | strip_html }}</h2>
      <p><time datetime="{{ post.date }}">{{ post.date | date: "%d. %B %Y" }}</time></p>
      {{ post.content }}
    </article>

<nav>
  <ul>
  {% if post.next.url %}
    <li>
      <a href="{{ post.next.url | absolute_url }}">&larr; newer posts</a>
    </li>
  {% else %}
    <li></li>
  {% endif %}
  {% if post.previous.url %}
    <li>
      <a href="{{ post.previous.url | absolute_url }}">older posts &rarr;</a>
    </li>
  {% endif %}
  </ul>
</nav>
