---
layout: default
---

{{ content }}

{% assign post = site.posts[0] %}

    <article id="{{ post.id }}">
      <h2>{{ post.title | strip_html }}</h2>
      <p><time datetime="{{ post.date }}">
{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}.
 {% case m %}
  {% when '1' %}Januar
  {% when '2' %}Februar
  {% when '3' %}M&auml;rz
  {% when '4' %}April
  {% when '5' %}Mai
  {% when '6' %}Juni
  {% when '7' %}Juli
  {% when '8' %}August
  {% when '9' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
{{ post.date | date: "%Y" }}
</time></p>
      {{ post.content }}
    </article>

<nav>
  <ul>
  {% if post.next.url %}
    <li>
      <a href="{{ post.next.url | absolute_url }}">&larr; Neuere Beiträge</a>
    </li>
  {% else %}
    <li></li>
  {% endif %}
  {% if post.previous.url %}
    <li>
      <a href="{{ post.previous.url | absolute_url }}">Ältere Beiträge &rarr;</a>
    </li>
  {% endif %}
  </ul>
</nav>
