---
layout: default
common-ext-js:
  - href: "https://cdnjs.cloudflare.com/ajax/libs/cuttr/1.3.2/cuttr.min.js"
common-js:
  - "/assets/js/studies.js"
---

{{ content }}

{% assign posts = site.studies | where: "group", "Treatments" | default: site.posts %}

{% for post in posts reversed %}

    <article id="{{ post.id }}">
      <div>
        <p>{{ post.title | strip_html }}</p>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        {% if post.status != "default" %}
        <p><mark>{{ post.status }}</mark>&emsp;<time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
        {% else %}
        <p><time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
        {% endif %}
      </div>
        <h2><a href="{{ post.credit }}" target="_blank"><div data-icon="ei-external-link" data-size="s"></div> {{ post.de.subtitle }}</a></h2>
      <p>Authors: {{ post.authors }}</p>
      <blockquote cite="{{ post.credit }}">
        <p class="content">{{post.de.description | replace: '"', "'"}}</p>
      </blockquote>
      {% if post.de.tags and post.de.tags.size > 0 %}
      <p>Keywords: {{ post.de.tags | join: ", " }}
      {% endif %}
    </article>

{% endfor %}

<aside>
  <p>Übersetzt mit <a href="https://www.deepl.com" target="_blank">DeepL</a>.</p>
</aside>
