---
layout: default_en
---

{{ content }}

{% assign posts = site.studies | where: "group", "Virus" | default: site.posts %}

{% for post in posts reversed %}

    <article id="{{ post.id }}">
      <div>
        <p>{{ post.title | strip_html }}</p>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        {% if post.status != "default" %}
        <p><mark>{{ post.status }}</mark>&emsp;<time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
        {% else %}
        <p><time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
        {% endif %}
      </div>
        <h2><a href="{{ post.credit }}" target="_blank">{{ post.en.subtitle }}</a></h2>
      <p>Authors: {{ post.authors }}</p>
      <blockquote cite="{{ post.credit }}">
        <p>{{post.en.description | truncate: 240 | replace: '"', "'"}}&nbsp;<span><a href="{{ post.url }}.html">read more</a></span>.</p>
      </blockquote>
      {% if post.en.tags and post.en.tags.size > 0 %}
      <p>Keywords: {{ post.en.tags | join: ", " }}
      {% endif %}
<!--
      <p>Keywords: <a href="" target="_self">erstes Schlagwort</a>, <a href="" target="_self">zweites</a>, <a href="" target="_self">drittes</a></p>
-->
    </article>

{% endfor %}
