---
layout: default
---

{{ content }}

{% assign posts = site.studies | default: site.posts %}

{% for post in posts reversed %}

    <article id="{{ post.id }}">
      <div>
        <p>{{ post.title | strip_html }}</p>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        <p class="date"><time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time></p>
      </div>
        <h2><a href="{{ post.link}}" target="_blank">{{ post.de.subtitle }}</a></h2>
      <p>Authors: {{ post.authors }}</p>
      <blockquote cite="{{ post.link}}">
        <p>{{post.de.description | truncate: 160 | replace: '"', "'"}} <span><a href="">weiterlesen</a></span>.</p>
      </blockquote>
      <p>Keywords: <a href="" target="_self">erstes Schlagwort</a>, <a href="" target="_self">zweites</a>, <a href="" target="_self">drittes</a></p>
    </article>

{% endfor %}
